*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    box-sizing: border-box;
}

img{
    position: relative;
    top: 150px;
    right: 140px;
}

body{
    background: #151515;
    opacity: 0.20;
}

header{
    display: inline-blocks;
    margin-top: 24px;
    margin-left: 57px;
}

h1{
    width: 368px;
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 0px;
    color: #5D5D7D;
    
}



p{
    width: 540px;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0px;
    color: #5D5D7D;
    opacity: 60%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.started{

    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: white;

    width: 269px;
    height: 62px;
    background-color: #9499EA;
    border-style: none;
    border-radius: 35px;

}

.started:hover{
    opacity: .8;
}

.started:active{
    opacity: .5;
}

.container-main{
    width: 100vw;
    height: 100vh;

}

.container-left{
    margin-top: 20%;
    display: inline-block;
    width:60%;
    padding-left: 131px;
    margin-bottom: 150px;
}
.container-right{
    display: inline-block;
    background-color: rgba(93,93, 125, 0.30);
    height: 150vh;
    width: 40%;
    position: absolute;
}

.nav-header{
    text-decoration: none;
    margin-left: 41px;

    font-family: Oswald;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0px;
    
}

.nav-header:nth-child(2){
    opacity: .6;
}

.nav-header:hover{
    opacity: .4;
}

@media screen and (max-width:900px){

    h1{
        width: 268px;
        height: 104px;
        font-weight: 400;
        font-size: 36px;
        line-height: 52px;
        letter-spacing: 0px;
        color: #5D5D7D;
        text-align: center;
        margin: 58px 53px 0 54px
    }

    p{
        width: 296px;
        /* font-weight: 400; */
        font-size: 14px;
        line-height: 24px;
        /* letter-spacing: 0px; */
        color: #5D5D7D;
        opacity: 60%;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        margin-left: 40px;
        margin-right: 40px;
    }

}